@font-face {
    font-family: 'MigraItalicBold';
    src:
        url('../Assets/MigraItalic-ExtraboldItalic.0be511d99403025e4262.ttf');
 }
 
 
 @font-face {
    font-family: 'MigraItalicLight';
    src:
        url('../Assets/MigraItalic-ExtralightItalic.96f5545f2eb857128551.ttf');
 }
 
 
 @font-face {
    font-family: 'SaintGeorge';
    src: local('SaintGeorge'),
        url('../Assets/SaintGeorge-LowercaseStencil.6a0acba5b7c31a6628c5.ttf');
 }

 *{
    margin: 0;
    padding: 0;
    background-color: #D46448;
    color: #fff;
 }
 
 
 .home-container {
    /* border: 1px solid blue; */
    margin-top: 1em;
    display: block;
    text-align: center;
 }
 
 
 .home-container .child-container {
    display: flex;
    text-align: center;
    padding: 0 30%;
 }

 .portfolio-line {
   position: absolute;
   width: 18em;
   margin: 0 auto;
   background-color: transparent;
   z-index: 2;
   margin-top: -2em;
   margin-left: 39.5%;
   opacity: 75%;
 }

 .portfolio-line:after {
   display:block;
   content: '';
   border-bottom: solid 1.4em #fbd737;
   transform: scaleX(0);
   transform-origin: 0% -50%;
   transition: transform 350ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
 }

 .portfolio-line:hover:after {
   transform: scaleX(1);
}
 
 .home-container h1 {
    font-family: 'SaintGeorge';
    font-size: 55px;
    margin-top: 0.5em;
    background-color: transparent;
 }
 .home-container h1 a{
   text-decoration: none;
}
 .nav-el {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    font-size: 38px;
    font-family: 'MigraItalicLight';
    font-weight: 800;
 }

 .nav-el:after {
   display: block;
   margin-top: -0.4em;
   padding: 0 0.2em;
   content: '';
   border-bottom: solid 3px #fff;
   transform: scaleX(0);
   transform-origin: 0% 50%;
   transition: transform 350ms ease-in-out;
 }

 .nav-el:hover:after {
   transform: scaleX(1);
}