.projects-container {
    border: 1px dotted black;
    position: absolute;
    margin-left: -50em;
}

.projects-container .year-slider {
    border: 1px solid blue;
}

.projects-container .points-container .points {
    border: 3px solid #fff;
    border-radius: 50%;
}