.header-container {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.header-container h1 {
    font-family: 'SaintGeorge';
    font-size: 55px;
    margin-top: 0.5em;
}

.header-container h1 a {
    text-decoration: none;
}

.header-container .links {
    position: absolute;
    width: 15em;
    margin: 30vh 0 0 80%;
    display: block;
}

.header-container .links .nav-el {
    display: block;
    margin-top: 5px;
    font-size: 36px;
}

#edu-label {
    width: 3.8em;
    margin-left: 2.8em;
}
#pro-label{
    width: 3em;
    margin-left: 3.6em;
}
#work-label{
    width: 6em;
    margin-left: 0.6em;
}